default:
  port: 4000

  session:
    static: true
    secret: 'foobarwithdragons'

  database:
    host: 'mongo'
    name: 'dfotose'

  redis:
    host: 'redis'

  storage:
    path: './storage/images/'
    temporaryImagePath: './uploaded-images/'
