.gallery-pagination {
  display: flex;
  flex-direction: row;
  
  margin: 0 auto;
  max-width: 350px;

  padding: 25px 25px 0;

  a:first-child {
    flex-grow: 1;
  }
  span {
    flex-grow: 1;
    text-align: center;
  }

  a:last-child {
    flex-grow: 1;
    text-align: right;
  }


  a:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}
.gallery-list {
  display: grid;
  grid-template-columns: repeat(4,300px);
  justify-content: center;
  grid-gap: 5px;
  @media screen and (max-width: 1245px) {
    grid-template-columns: repeat(auto-fill, 300px);
  }

  .gallery-card {
    display: inline-block;
    margin: 5px;
    box-shadow: 0 2px 4px 0 #aaa;
    border-radius: 5px;
    transition: 0.3s;
    width: 300px;
    height: 200px;

    a {
      margin: 0;
      text-decoration: none;
      overflow: hidden;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      img {
        margin: 0;
        padding: 0;
        border-radius: 5px;
        object-fit: cover;

        height: 200px;
        width: 300px;

      }
      .title {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 35px;
        width: 100%;
        border-radius: 0 0 5px 5px;
        
        background: rgba(0, 0, 0, .8);
        color: #fafafa;

        margin: -35px 0 0 0;

        .text {
          justify-content: space-between;
          width: 100%;
          span.name {
            font-size: 18px;
            margin-left: 10px;
            margin-right: 5px;
          }
          span.date {
            font-size: 12px;
            margin-left: 5px;
            margin-right: 5px;
          }
        }
      }
    }
  }
}
