.header {
  min-height: 120px;
  //background-color: #2e2e2e;
  margin: 0 auto;
  border-bottom: 2px solid #eee;

  .header-content {
    display: flex;
    flex-direction: row;
    //justify-content: space-between;
    align-items: flex-end;

    margin-right: 45px;
    margin-left: 45px;

    @media (max-width: 926px) {
      flex-direction: column;
      align-items: center;
      margin: 0;
    }

    img {
      height: 120px;
      @media (max-width: 450px) {
        width: 75vw;
      }
    }

    ul {
      margin: 0;
      padding-bottom: 10px;
      display: inline;

      li:first-child {
        margin-left: 25px;
      }

      li {
        display: inline;
        font-size: 22px;

        padding: 0 20px 0 20px;

        a {
          text-decoration: none;
        }
      }

      @media (max-width: 926px) {
        padding: 15px;

        li:first-child {
          margin-left: 0;
        }

        li {
          padding: 0 10px;
        }
      }

    }

    .info {
      color: #333;
      align-self: flex-end;
      margin: 0 auto;
      max-width: 450px;

      @media(max-width: 926px) {
        display: flex;
        flex-direction: column;
        width: 100vw;
      }
    }
  }
}

.sticky-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #fa8e42;
  color: #fafafa;
  border-radius: 0 0 2px 2px;
  min-height: 30px;
  z-index: 20;

  span {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 15px;
  }
}

.sticky-header:hover {
  cursor: pointer;
}
